@model TachraFac.Core.DTOs.ForgotPasswordViewModel
@{
	ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="owl-carousel-item position-relative">
    <img class="img-fluid" src="~/img/carousel-123.jpg" alt="Freshly Baked Bread">
    <div class="owl-carousel-inner">
        <div class="container">
            <div class="row justify-content-start">
                @* <div class="col-lg-8">
                    <p class="text-primary text-uppercase fw-bold mb-2">// Freshly Baked Every Day</p>
                    <h1 class="display-1 text-light mb-4 animated slideInDown">Taste the Difference</h1>
                    <p class="text-light fs-5 mb-4 pb-3">Discover the perfect blend of tradition and flavor with our artisan baked goods.</p>
                    <a href="#products" class="btn btn-primary rounded-pill py-3 px-5">Explore Now</a>
                </div> *@
            </div>
        </div>
    </div>
</div>

<div class="register-containerr">
    @if (ViewBag.IsSuccess != null)
    {
        <div class="alert alert-success">
            <p class="help-block">ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
        </div>
       
    }
    <h2>بازیابی کلمه عبور</h2>
    <form asp-action="ForgotPassword" method="post">
        <div class="input-group">
            <label>نام کاربری</label>

            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
            <input asp-for="UserName" type="text" placeholder="نام کاربری ">
        </div>
        <span asp-validation-for="UserName"></span>       
        <button type="submit" class="btn btn-success" value="تایید و ارسال">تایید و ارسال</button>
    </form>
</div>
